*.[oa]
*.l[oa]
*~
*.deps
*.libs
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config/
config/*
configure
example/dump_info
example/dump_stream
example/loop_stream
libnemesi.pc
libnemesi.pc.in
libtool
stamp-h1
